@font-face {
  font-family: Martel;
  font-style: normal;
  font-weight: 400;
  src: url(..assets/fonts/Martel-Regular.ttf);
}

@font-face {
  font-family: Martel;
  font-style: normal;
  font-weight: 700;
  src: url(..assets/fonts/Martel-Bold.ttf);
}

@font-face {
  font-family: Cabin;
  src: url(../assets/fonts/CabinSketch-Regular.ttf);
}

.bold {
  font-weight: 700;
}

html {
  min-height: 50vw;
}

body {
  background: #CCAD8F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  
  position: relative;
  width: 100%;
  height: inherit;
  min-height: 50vw;
}

h1 {
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;

  /* identical to box height */
  letter-spacing: 0.05em;

  color: #000000;
}

h2 {
  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.05em;

  color: #000000;
}

p {

font-family: Martel;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.09em;

color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;

  position: relative;
  width: 100%;
  height: 180px;

  /* eggshell */
  background: #FFFBF0;

  font-family: Cabin;
}

#definition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;

  position: static;
  width: 366px;
  height: 140px;
  left: calc(50% - 366px/2 + 487px);
  top: 20px;


  /* Inside Auto Layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 30px;

  font-weight: bold;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  width: 80%;
  min-height: 600px;
  padding-top: 20px;
}

main > div {
  padding-top: 24px;
  height: fit-content;
}

main > div > div {
  padding-top:  24px;
}

.main-nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;

  position: static;
  width: 70%;
  height: 30px;
  left: 0px;
  top: 220px;

  padding: 20px 0px;
}

.text-nav {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  position: static;
  width: 50%;
  height: 350px;
}

footer {
  position: relative;
  width: 100%;
  height: 248px;
  bottom: 0;
}

footer > #bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px 90px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 12.1%;
  bottom: 0%;

  /* eggshell */
  background: #FFFBF0;
}

#contacts-tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 20px;

  position: absolute;
  left: 87.92%;
  right: 0%;
  top: 6.05%;
  bottom: 81.85%;
  
  /* eggshell */
  background: #FFFBF0;
  border-radius: 50px 0px 0px 50px;
}

#intro {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  position: static;
  width: 1278px;
  min-height: 422px;
}

#background-text {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#background-text > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

#background-text > div > #left-side {
  text-align: right;
  display: flex;
  flex-flow: column;

  width: 355px;
}

#background-text > div > #right-side {
  padding-left: 24px;
}

#tools-text {
  width: 100%;
  display: flex;
  flex-flow: column;

  align-items: center;
}

#tools-text > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  width: 70%;
  margin-bottom: 20px;
}

#tools-text > div > div{
  margin: 0px 20px;
  max-width: 50%;
}

#portfolio-text {
  width: 100%;
  display: flex;
  flex-flow: column;

  align-items: center;
}

#portfolio-text > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  width: 70%;
  margin-bottom: 20px;
}

#portfolio-text > div > div{
  margin: 0px 20px;
  max-width: 50%;
  overflow: hidden;
}